name: CI/CD Pipeline

env:
    NODE_VERSION: '18'

on:
  push:
    branches: [ main ]  

  workflow_dispatch: {} # Allows manual triggering of the workflow

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: |
          cd frontend
          npm ci
      - name: Build
        run: |
          cd frontend
          npm run build
      - name: Run tests
        run: |
          cd frontend
          npm test      

  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: |
          cd backend1
          npm ci
      - name: Run tests
        run: |
          cd backend1
          npm test

  deploy_production: #placeholder for future deployment job
    name: Deploy to Production (not implemented)
    needs: [frontend, backend]
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' # Only run this job if manually triggered
    steps:
      - name: Deploy Backend
        run: echo "Deploying backend application..."

      - name: Deploy Frontend
        run: echo "Deploying frontend application..."